<nav>
  <div class="site-title">
    <a href="/"><h1>DineVista</h1></a>
  </div>
  <ul>
    <li><a href="/Menu">Menu</a></li>
    <li><a href="/SignUp">Sign Up</a></li>
    <li><a href="/Login">Login</a></li>
  </ul>
</nav>