<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>  
  <section class="Intro">
    <h2>Introduction</h2>
    <p>Welcome to our restaurant, where culinary excellence meets warm hospitality. Whether you're dining with family or friends, we promise a memorable experience filled with exquisite flavors and delightful ambiance. Our talented chefs take pride in crafting dishes from the finest, freshest ingredients, ensuring every meal is a true celebration of taste.</p>
    <p>To explore our menu, please <a href="/Login">Login</a> or <a href="/SignUp">Sign-Up</a> via the links in the top-right corner.</p>
  </section>
  <hr>
  <section class="Intro">
    <h2>Our Offerings</h2>
    <p>We offer an array of flavorful dishes designed to satisfy every palate. From succulent burgers to crisp, refreshing salads, each item on our menu is made with care and creativity. Start your meal with our tempting appetizers, indulge in our hearty entrees, and finish with one of our delectable desserts.

    Don't miss our daily specials, featuring fresh, seasonal ingredients from local sources. We also boast a full bar with a variety of beers, wines, and hand-crafted cocktails to perfectly complement your meal.</p>
  </section>
  <hr>
  <section class="Intro">
    <h2>About Us</h2>
    <p>Founded on the idea that food brings people together, our restaurant is a place where great meals create lasting memories. We aim to provide an inviting space where you can unwind, enjoy superb food, and connect with the ones you love. Our commitment is to offer exceptional service alongside a dining experience that will leave you excited for your next visit.
      We’re grateful for your consideration and look forward to serving you soon!
    </p>
  </section>
</body>
</html>
